$white: #fff;
$Off-White: #FAF9F6;
$Light-Blue: #C5D6E5;
$Pacific-Blue: #24A3B5;
$Dark-Green: #2C6A73;
$Purple: #4E3DB8;
$Darker-Purple: #3E3193;
$Navy-Blue: #003566;
$Black: #000000;
$Light-Green: #34D27D;
$Dark-Red:#971C1C;
$Border-Radius-1: 25px;
$Border-Radius-2: 10px;
$Font-1: 'Times New Roman';

.Modal {
    object-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.Modal-Body {
    width: 800px;
    height: 400px;
    background-color: $Off-White;
    border-radius: $Border-Radius-1;
    display:none;
}

.Modal-Title {
    padding-top: 1px;
    padding-left: 40px;
    color: $Navy-Blue;
    font-family: 'Times New Roman', Times, serif;
}

.Modal-Text {
    padding-left: 55px;
    color:$Dark-Green;
    
}

.Buttons {
    object-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    
}

.Accept:hover {
    background-color: #23995a;
    cursor: pointer;
}

.Decline:hover {
    background-color: #5c1111;
    cursor: pointer;
}


.Accept {
    background-color: $Light-Green;
    width: 110px;
    height: 58px;
    text-align: center;
    border-radius: $Border-Radius-2;
    color: $white;
    
}

.Decline {
    background-color: $Dark-Red;
    width: 110px;
    height: 58px;
    text-align: center;
    display: none;
    border-radius: $Border-Radius-2;
    color: $white;
    margin-top: -75px;
}



@media only screen and (max-width:700px) {
    .Modal-Text {
        padding-right:50px;
        color:$Dark-Green;
        object-position: center;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        text-align: center;
    }

    .Buttons {
        padding-right: none;
        object-position: center;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        text-align: center;
        
    }

    .Modal-Title {
        padding-right: 50px;
        object-position: center;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
    }

    .Accept {
        width: 74px;
        text-align: center;
        font-size: 15px;
        height: 54px;
        
        
    }

    .Decline {
        width: 74px;
        text-align: center;
        font-size: 15px;
        height: 54px;
    }



}

@media only screen and (max-width:475px) {
    .Buttons {
        padding-right: none;
        object-position: center;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
    }

    
}